.wrapper {
  padding: 15px;
  max-width: 500px;
  margin: 0 auto;
}
.hidden {
  opacity: 0;
}

.error {
  width: 12px;
  height: 12px;
  background: red;
  display: block;
  margin-left: 10px;
}
.success {
  width: 12px;
  height: 12px;
  background: green;
  display: block;
  margin-left: 10px;
}

.form-group {
  position: relative;
}

.wrap-group {
  display: flex;
  align-items: center;
}
