<!doctype html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1</title>
    <link rel="stylesheet" href="css//bootstrap.min.css">
    <link href="css/styles.css" rel="stylesheet">
    <script src="js/vue.js"></script>
</head>

<body>
    <div class="wrapper">
        <div class="sample">
            <div class="form-group">
                <label>Phone</label>
                <input type="text" class="form-control" v-model="phone" @keyup.enter="show = true">
            </div>

            <div v-show="show">
                {{ phone }}
            </div>

        </div>
    </div>
    <script>
        new Vue({
            el: '.sample',
            data: {
                phone: '',
                show: false
            },

        });
    </script>
</body>

</html>