<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>1</title>
    <link rel="stylesheet" href="css//bootstrap.min.css" />
    <link rel="stylesheet" href="css/all.css" />
    <link rel="stylesheet" href="css/fontawesome.css" />
    <link href="css/styles.css" rel="stylesheet" />
    <script src="js/vue.js"></script>
  </head>

  <body>
    <div class="wrapper">
      <div class="sample">
        <form>
          <div class="progress">
            <div class="progress-bar" :style="widthBar"></div>
          </div>
          <div>
            <div class="form-group" v-for="(value,i) in info">
              <div class="wrap-group">
                <label>{{value.name}}</label>

                <span :class="value.className" class="tests"> </span>
              </div>
              <input
                type="text"
                class="form-control"
                :value="value.value"
                @input="onInput(i, $event.target.value)"
                @change="progressBar(i)"
              />
            </div>
          </div>
          <button class="btn btn-primary" :disabled="disabled">
            Send Data
          </button>
        </form>

        {{progress}}
        <div>
          <table class="table table-bordered">
            <tr v-for="(value,i) in info">
              <td>{{value.name}}</td>
              <td>{{value.value}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <script>
      new Vue({
        el: ".sample",
        data: {
          info: [
            {
              name: "Name",
              value: "",
              pattern: /^[a-zA-Z ]{2,30}$/,
              className: "",
              error: null,
            },
            {
              name: "Phone",
              value: "",
              pattern: /^[0-9]{7,14}$/,
              className: "",
              error: null,
            },
            {
              name: "Email",
              value: "",
              pattern: /.+/,
              className: "",
              error: null,
            },
            {
              name: "Some Field 1",
              value: "",
              pattern: /.+/,
              className: "",
              error: null,
            },
            {
              name: "Some Field 2",
              value: "",
              pattern: /.+/,
              className: "",
              error: null,
            },
          ],
          disabled: true,
          styleObject: {
            width: 0,
          },
        },

        methods: {
          onInput(index, value) {
            this.info[index].value = value;
            if (this.info[index].pattern.test(value)) {
              this.info[index].className = "success";
              this.info[index].error = false;
            } else {
              this.info[index].className = "error";
            }
          },
          progressBar(index) {
            let procent = 100 / this.info.length;

            if (this.info[index].className == "success") {
              this.styleObject.width += procent;

              return this.styleObject.width;
            } else {
              this.styleObject.width -= procent;
              return this.styleObject.width;
            }
          },
        },

        computed: {
          widthBar() {
            return {
              width: this.styleObject.width + "%",
            };
          },

          progress() {
            let count = 0;
            this.info.forEach((item) => {
              if (item.error == false) {
                count++;
              }
            });

            if (count == this.info.length) {
              this.disabled = false;
            }
          },
        },
      });
    </script>
  </body>
</html>
